[submodule "gmarik/vundle"]
    path = vim/bundle/vundle
    url = https://github.com/gmarik/vundle
[submodule "tpope/vim-sensible"]
    path = vim/bundle/vim-sensible
    url = https://github.com/tpope/vim-sensible
[submodule "sjl/gundo.vim"]
    path = vim/bundle/gundo.vim
    url = https://github.com/sjl/gundo.vim
[submodule "tpope/vim-fugitive"]
    path = vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
[submodule "tpope/vim-commentary"]
    path = vim/bundle/vim-commentary
    url = https://github.com/tpope/vim-commentary
[submodule "tpope/vim-surround"]
    path = vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround
[submodule "tpope/vim-repeat"]
    path = vim/bundle/vim-repeat
    url = https://github.com/tpope/vim-repeat
[submodule "nathanaelkane/vim-indent-guides"]
    path = vim/bundle/vim-indent-guides
    url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "SirVer/ultisnips"]
    path = vim/bundle/ultisnips
    url = https://github.com/SirVer/ultisnips
[submodule "scrooloose/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
[submodule "jistr/vim-nerdtree-tabs"]
    path = vim/bundle/vim-nerdtree-tabs
    url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "Valloric/YouCompleteMe"]
    path = vim/bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe
[submodule "Shutnik/jshint2.vim"]
    path = vim/bundle/jshint2.vim
    url = https://github.com/Shutnik/jshint2.vim
