# user crontab
# vim: ts=8 noet sw=0 sts=0 tw=0 list commentstring=#\ %s

# taskify sets the full PATH value
PATH=/home/th026106/.bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin

CRON_TZ=US/Central

#	minute
#	│	hour
#	│	│	day of month
#	│	│	│	month
#	│	│	│	│	day of week (0-7, with sunday on both ends)
#	│	│	│	│	│	command
#	│	│	│	│	│	│
#	*	*	*	*	*	echo hello!

	0	*/3	*	*	1-5	taskify --random-sleep 60 -- list-subscriptions --quiet --verbose --delete
	0	0	*	*	*	taskify --random-sleep 300 --quiet -- docker system prune --volumes --force
	0	0	*	*	6	taskify --random-sleep 300 --quiet --log $HOME/job-logs/config-backup.log -- config-backup
	0	0	*	*	1-5	taskify --random-sleep 300 --quiet --log $HOME/job-logs/cron-brew-update.log -- cron-brew-update
	0	0	*	*	6	taskify --random-sleep 300 --quiet --longer-than 5 --log $HOME/job-logs/rustup.log -- rustup update
	0	0	*	*	1-5	taskify --random-sleep 300 --quiet --log $HOME/job-logs/lazyvim-update.log -- nvim --headless "+Lazy! sync" +qa
